<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Helpdesk</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="static/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/css/perfect-scrollbar.min.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="static/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="static/images/favicon.png" />
  <style>
video {
  width: 100%;
  height: auto;
}
h4.card-title{
font-size: 1.5rem;
  font-family: cursive;
  color : green;
}
</style>
</head>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <img src="static/images/tn.png" width="50" height="50"style="float:left"><h3 style="color:#6C3483;">Covid19Info</h3>
		</div>
		<h5>help line: 044-29510500</h5>
          </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="row row-offcanvas row-offcanvas-right">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span class="menu-title"><h5 class="font-weight-normal mb-3">Live Updates</span></h5>
                <span class="menu-sub-title"></span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/public">
                <span class="menu-title"><h5 class="font-weight-normal mb-3">Public Advice</span></h5>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/donation">
               <span class="menu-title"><h5 class="font-weight-normal mb-3">Donate</span></h5>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tweets">
                <span class="menu-title"><h5 class="font-weight-normal mb-3">Tweet updates</span></h5>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="/helpdesk">
                <span class="menu-title"><h5 class="font-weight-normal mb-3">Help Desk</span></h5>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
        </nav>
        <!-- partial -->
        <div class="content-wrapper">
		    <h4 class="card-title">You might find these helpful</h4>
           <a href="static/docs/store_details.pdf" >Contact your nearest grocery store!</a><br>
		    <a href="static/docs/list_of_containment_zones.pdf" >Check if your zone is safe!</a><br>
			 <a href="static/docs/home_quarantine_contact.pdf">Contact the home quarantine monitoring people</a><br>
			  <a href="static/docs/Category-I-Dedicated-COVID-Hospitals-DCH.pdf">Dedicated-COVID-Hospitals-DCH</a><br>
			   <a href="static/docs/Category-II-Dedicated-COVID-Health-Center-DCHC.pdf">Dedicated-COVID-Health-Center-DCHC</a><br>
			   	<a href="static/docs/Category-III-Dedicated-COVID-Center-DCCC-1.pdf">Dedicated-COVID-Center-DCCC</a><br><br>

		<video width="320" height="240" controls>
  <source src="static/videos/covid19.mp4" type="video/mp4">
  
Your browser does not support the video tag.
</video>	   
        </div>
		
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <div>


        <!-- partial -->
      </div>
      <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="static/js/off-canvas.js"></script>
  <script src="static/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
